{% extends 'password/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style type="text/css">
.chuo-color {
    color:#dd8500;
}
</style>
  
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-5 mt-5">
                <h5 class="text-center h4"><span class="chuo-color">KIROMBERO WEB</span> PASSWORD RESET</h5>
                <div class="alert alert-success dismissible shadow-sm wow fadeInUp mt-3" data-wow-delay="1s">
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'KCHS: login' %}">sign in</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}