{% extends 'password/base.html' %}
{% block content %}
<style type="text/css">
.chuo-color {
  color:#dd8500;
}
</style>
<div class="container mt-4">
  <div class="row justify-content-center">
      <div class="col-md-12 mt-5">
          <h5 class="text-center h4"><span class="chuo-color"><b>KIROMBERO WEB</b></span> Link sent to your email</h5>
          <div class="alert alert-success dismissible  shadow-sm wow fadeInUp mt-3" data-wow-delay="1s">
            <p>
              We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
            </p>
            <p>
              If you don't receive an email, please make sure you've entered the address you registered with or check your spam folder.
            </p>
          </div>
      </div>
  </div>
</div>
{% endblock %}